# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Keras

| Data Science Tools |
| ---- | 
| R Studio | 
| Jupyter Notebook | 
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
##This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
##This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Listing popular languages used for Data Science in markdown form
- Listing commonly used libraries for Data Science in markdown form
- Creating headers for different parts of the notebook
- Performing simple arithmetic expressions in code cells

## Author
Caleb G.